@model FestivalAPI.Models.Artiste

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Artiste</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdA" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StyleId" class="control-label"></label>
                <input asp-for="StyleId" class="form-control" />
                <span asp-validation-for="StyleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descriptif" class="control-label"></label>
                <input asp-for="Descriptif" class="form-control" />
                <span asp-validation-for="Descriptif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaysId" class="control-label"></label>
                <input asp-for="PaysId" class="form-control" />
                <span asp-validation-for="PaysId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Extrait" class="control-label"></label>
                <input asp-for="Extrait" class="form-control" />
                <span asp-validation-for="Extrait" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
