@model FestivalAPI.Models.Artiste


@{
    ViewData["Title"] = "Edit";
    IEnumerable<FestivalAPI.Models.Style> styles = WebApplication1.ControllersAPI.API.Instance.GetStylesAsync().Result;
    IEnumerable<FestivalAPI.Models.Pays> pays = WebApplication1.ControllersAPI.API.Instance.GetPaysAsync().Result;
}

<h1><strong>GESTION DES ARTISTES</strong></h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdA" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label">Nom :</label>
                <input asp-for="Nom" class="form-control" type="text" required />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label">Prenom :</label>
                <input asp-for="Prenom" class="form-control" type="text" required />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Style de musique :</label>
                <a asp-controller="Styles" asp-action="Index">  ajoutez un style de musique</a>
                <select asp-for="StyleId" class="form-control">
                    <option value="">--Choisissez une option--</option>
                    @foreach (var it in styles)
                    {
                        <option value="@it.Id">
                            @it.Nom
                        </option>
                    }
                </select>
                <span asp-validation-for="StyleId"></span>
            </div>

            <div class="form-group">
                <label asp-for="Descriptif" class="control-label">Descriptif :</label>
                <input asp-for="Descriptif" class="form-control" type="text" required />
                <span asp-validation-for="Descriptif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Pays :</label>
                <select asp-for="PaysId" class="form-control ">
                    <option value="">--Choisissez une option--</option>
                    @foreach (var it in pays)
                    {
                        <option value="@it.Id">
                            @it.Nom
                        </option>
                    }
                </select>
                <span asp-validation-for="PaysId"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Photo de l'artiste(facultatif) :extensions valides: ".jpg",".jpeg",".gif",".png",".jfif"</label>
                <input type="file" name="file" />
            </div>

            <div class="form-group">
                <label class="control-label">Ajoutez un extrait musical de l'artiste(facultatif) :extensions valides: ".mp3"</label>
                <input type="file" name="file2" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}