@model FestivalAPI.Models.Artiste


@{
    ViewData["Title"] = "Edit";
    IEnumerable<FestivalAPI.Models.Style> styles = WebApplication1.ControllersAPI.API.Instance.GetStylesAsync().Result;
    IEnumerable<FestivalAPI.Models.Pays> pays = WebApplication1.ControllersAPI.API.Instance.GetPaysAsync().Result;
}

<h1><strong>GESTION DES ARTISTES</strong></h1>
<?php
    if(!empty($_FILES['image']))
    {
        if(move_upload_file($_FILES['image']['tmp_name'], "../image/".$_FILES['image']['name']))
           {
             exit("L'upload s'est  bien passé");
           }
        else
           {
                exit("Une erreur est survenue");
            }
    }

?>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" onsubmit="return avatar()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label">Nom :</label>
                <input asp-for="Nom" class="form-control" type="text" required />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label">Prenom :</label>
                <input asp-for="Prenom" class="form-control" type="text" required />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label">Photo de Profil : </label>
                <input type="file" name="image" id="image" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Style de musique :</label>
                <select asp-for="StyleId" class="form-control " asp-items="ViewBag.Nom">
                    <option value="">--Choisissez une option--</option>
                    @foreach (var it in styles)
                    {
                        <option value="@it.Id">
                            @it.Nom
                        </option>
                    }
                </select>
                <span asp-validation-for="StyleId"></span>
            </div>

            <div class="form-group">
                <label asp-for="Descriptif" class="control-label">Descriptif :</label>
                <input asp-for="Descriptif" class="form-control" type="text" required />
                <span asp-validation-for="Descriptif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Pays :</label>
                <select asp-for="PaysId" class="form-control " asp-items="ViewBag.Nom">
                    <option value="">--Choisissez une option--</option>
                    @foreach (var it in pays)
                    {
                        <option value="@it.Id">
                            @it.Nom
                        </option>
                    }
                </select>
                <span asp-validation-for="PaysId"></span>
            </div>

            <div class="form-group">
                <label asp-for="Extrait" class="control-label"></label>
                <input asp-for="Extrait" class="form-control" />
                <span asp-validation-for="Extrait" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    function avatar() {
        var image = document.querySelector("image");

        xhr = new XMLHttpRequest();
        xhr.open("POST", "Create.cshtml");
        xhr.onload = function () {
            alert(xhr.responseText);
        }

        var form = new FormData();
        form.append("image", image.files[0]);

        xhr.send(form);

        return false;
    }
</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
