@model IEnumerable<FestivalAPI.Models.Artiste>

@{ ViewData["Title"] = "Index";
    IEnumerable<FestivalAPI.Models.Pays> pays = WebApplication1.ControllersAPI.API.Instance.GetPaysAsync().Result;
    IEnumerable<FestivalAPI.Models.Style> style = WebApplication1.ControllersAPI.API.Instance.GetStylesAsync().Result; }

<h1>Liste des artistes</h1>


<div class="row row-cols-1 row-cols-md-3 g-4">

    @foreach (var item in Model)
    {
<div class="col">
    <div class="card shadow mb-4 text-center">
        <div class="card-body">
            <a asp-action="Details" asp-route-id="@item.IdA">
                @Html.DisplayFor(modelItem => item.Nom)
            </a>
        </div>
    </div>
</div>}

</div>



