@model IEnumerable<FestivalAPI.Models.Favoris>
@using FestivalAPI.Models
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
    IEnumerable<FestivalAPI.Models.Festival_Artiste> festival_Artistes = WebApplication1.ControllersAPI.API.Instance.GetFestival_ArtistesAsync().Result;
    IEnumerable<FestivalAPI.Models.Artiste> artistes = WebApplication1.ControllersAPI.API.Instance.GetArtistesAsync().Result;
}

<h1>Artistes Favoris</h1>

<div class="card-deck">
    <span style="color:red">@Html.ValidationMessage("error")</span>

    @foreach (var item in Model)
    {
        if (item.FestivalierId == (int)HttpContextAccessor.HttpContext.Session.GetInt32("idf"))
        {
            <div class="card-deck" style="width: 25%; margin-bottom: 15px; margin-right: 5px;">
                <div class="card text-center">



                    <div class="card-body">
                        @{

                            @foreach (var it2 in Model)
                            {
                                @foreach (var it in artistes)
                                {
                                    if (item.ArtisteId == it.IdA)
                                    {
                                    @Html.DisplayFor(modelIt2 => it.Nom) @Html.DisplayFor(modelIt2 => it.Prenom)}
                                }
                             }
                            }
                        @foreach (var it in festival_Artistes)
                        {
                            if (item.ArtisteId == it.ArtisteId)
                            {
                                <a asp-action="Programme" asp-route-id="@it.ArtisteId" class="btn btn-outline-primary ">Voir la programmation</a>
                            }
                        }

                    </div>
                </div>
            </div>
            }}
</div>


        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }



