@model FestivalAPI.Models.Rapport_Temps

@{
    ViewData["Title"] = "Index";
}

<h1>Choisir un date</h1>


<div class="form-group">
    <label asp-for="Date_Inscription" class="control-label"></label>
    <input asp-for="Date_Inscription" class="form-control" />
    <span asp-validation-for="Date_Inscription" class="text-danger"></span>
</div>

<a asp-controller="Rapport_Temps" asp-action="Rapport_Temps_Jours_Graphe" >Rapport geographique Region</a>
