@model IEnumerable<FestivalAPI.Models.Festivalier>
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{ ViewData["Title"] = "Index"; }
<h1>Les Invitations</h1>



<div class="card-deck">
    <span style="color:red">@Html.ValidationMessage("error")</span>

    @foreach (var item in Model)
    {
        if (item.Id != (int)HttpContextAccessor.HttpContext.Session.GetInt32("idf"))
        {
<div class="card-deck" style="width: 25%; margin-bottom: 15px; margin-right: 5px;">
    <div class="card text-center">



        <div class="card-body">
            <h5 class="card-title">
                @Html.DisplayFor(modelItem => item.Nom)
            </h5>
            <p class="card-text">@(item.Prenom + " " + item.Nom)</p>


            <a class="btn btn-primary" asp-action="Demandes" asp-route-id="@item.Id"> Accepter</a>


        </div>
    </div>
</div>}
}
</div>
