@model IEnumerable<FestivalAPI.Models.Festivalier>
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{ ViewData["Title"] = "Index"; }
<h1>Listes des Festivaliers</h1>
@{ ViewData["Title"] = "Index";
    IEnumerable<FestivalAPI.Models.Festivalier> festivaliers = WebApplication1.ControllersAPI.API.Instance.GetFestivaliersAsync().Result;
}
<h1>Festivals Of The Year</h1>



<div class="card-deck">
    <span style="color:red">@Html.ValidationMessage("error")</span>

    @foreach (var item in Model)
    {
        if (item.Id != (int)HttpContextAccessor.HttpContext.Session.GetInt32("idf"))
        {
            <div class="card-deck" style="width: 25%; margin-bottom: 15px; margin-right: 5px;">
                <div class="card text-center">



                    <div class="card-body">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.Pseudo)
                        </h5>

                        @if (item.InscriptionAccepted)
                        {
                            <h5> Paiement validé</h5>}
                        else 
                        {
                            <a class="btn btn-primary" asp-action="ValiderPaiement" asp-route-id="@item.Id">  Valider le paiement</a> }
                        

                    </div>
                </div>
            </div>}
    }
</div>
