@model FestivalAPI.Models.Scene
@{
    ViewData["Title"] = "Create";

    IEnumerable<FestivalAPI.Models.Lieu> lieux = WebApplication1.ControllersAPI.API.Instance.GetLieuxAsync().Result;
    IEnumerable<FestivalAPI.Models.Artiste> artistes = WebApplication1.ControllersAPI.API.Instance.GetArtistesAsync().Result;
    bool vrai = true;
    bool faux = false;
}

<h1>Create</h1>

<h4>Scene</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresse" class="control-label"></label>
                <input asp-for="Adresse" class="form-control" />
                <span asp-validation-for="Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacite" class="control-label"></label>
                <input asp-for="Capacite" type="number" class="form-control" />
                <span asp-validation-for="Capacite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accessibilite" class="control-label">Accessible aux personnes handicapées</label>
                <select asp-for="Accessibilite" class="form-control">

                    <option value="@vrai">oui</option>
                    <option value="@faux">non</option>
                </select>
                <span asp-validation-for="Accessibilite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LieuId" class="control-label">Sélectionnez une date</label>
                <select class="form-control" asp-for="LieuId">
                    <option value="">Choisissez une option</option>
                    @foreach (var it in lieux)
                    {
                        <option value="@it.IdL">
                            @it.Commune
                        </option>
                    }
                </select>
                <span asp-validation-for="LieuId" class="text-danger"></span>
            </div>
            
            

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>


</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
