@{ ViewData["Title"] = "Home Page"; }
<html>
<head>
</head>
<body>
    <div >
        <div class="text-center">
            <img src="~/pictures/Logo.PNG" height="200" />
        </div>
    </div>

</body>
</html>