@{ ViewData["Title"] = "Home Page"; }
<html>
<head>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Bienvenue sur </h1>
    </div>
    <div>
        <img  src="~/pictures/happy-l.png" height="200" />
    </div>
    
</body>
</html>
